@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog Table</h4>
                <a class="btn btn-success" asp-controller="blog" asp-action="create">Add Blog</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Desc</th>
                                <th>CreationDate</th>
                                <th>Date</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        <img src="~/img/@item.ImgUrl" width="250" height="250" />
                                    </td>
                                    <td>@item.Title</td>
                                        <td>@item.Desc</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.Date</td>
                                    <td>
                                        <a class="btn btn-secondary" asp-controller="blog" asp-action="detail" asp-route-id="@item.Id">Detail</a>
                                        <a class="btn btn-primary" asp-controller="blog" asp-action="update" asp-route-id="@item.Id">Update</a>
                                        <a class="btn btn-danger" asp-controller="blog" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>